div.triage-box {
  width:200px;
    border-radius: 7px;

}
div#color-triage {
  width:330px;
  height:200px;
  background-color: #000234;
  border-radius: 7px;
}
div#palette {
  width:500px;
  height:200px;
  background-color:gray;
}
